body {
	background-image:url('/public/imgs/books.jpg');
	background-size:cover;
	
}

.formContainer {
	position:absolute;
	top:100px;
	height:550px;
	width:450px;
	background-color:rgba(77,77,77,.7);
	border-radius:10px;
	padding:25px;
	
}

.form-control {
	width:350px;
}

h3 {
	color:white;
}

hr {
	margin-top:50px;
	
}

.alert {
	position:relative;
	margin-right:50px;
	font-style:italic;
	color:white;
}

.registerContainer {
	position:absolute;
	top:100px;
	right:20%;
	height:550px;
	width:450px;
	background-color:rgba(77,77,77,.7);
	border-radius:10px;
	padding:25px;
}

#taken {
	color:white;
	margin-top:25px;
	font-style:italic;
	font-weight:700;
	
}

#sampleReg {
	position:absolute;
	background-color:rgba(77,77,77,.7);
	width:300px;
	height:200px;
	left:25%;
	border-radius:10px;
	top:250px;
	text-align:center;
}

#sampleReg h5 {
	font-size:1.2em;
	color:white;
}

#sampleLogin {
	position:absolute;
	background-color:rgba(77,77,77,.7);
	width:300px;
	height:200px;
	right:25%;
	border-radius:10px;
	top:250px;
	text-align:center;
}

#sampleLogin h5 {
	font-size:1.2em;
	color:white;
}








