body {
	height:100%;
}

#app {
	height:100%;
	width:100%;
	
}

#mask {
	position:absolute;
	height:100%;
	width:100%;
	background-color:rgba(255,255,255,.5);
	z-index:9;
	display:none;
}

#sideBar {
	position:absolute;
	height:100%;
	width:15%;
	background-color:#3D3638;
	box-shadow:2px 0px 3px 1px black;
	float:left;
	left:0;
	text-align:center;
	font-family:Lato;
	padding:10px;
	overflow:auto;
}

#icon {
	position:relative;
	height:70px;
	width:70px;
	border-radius:50%;
	background:radial-gradient(#E87482, #BD2D3E);
	left:50%;
	top:25px;
	transform:translate(-50%,0);
	box-shadow:0px 0px 3px 1px #211F20;
	cursor:pointer;
	font-family:arial;
	margin-bottom:50px;
}

#topIcon {
	position:absolute;
	font-size:3em;
	left:23%;
	color:white;
}

#bottomIcon {
	position:absolute;
	font-size:3em;
	top:15%;
	left:37%;
	color:gold;
}

.smallText {
	position:relative;
	color:white;
	font-size:.8em;
	
}

.cmdText {
	position:relative;
	color:white;
	font-size:.8em;
	text-decoration:underline;
	
}

.hintText {
	position:relative;
	font-size:.8em;
	color:#BFBFBF;
}

hr {
	position:relative;
	top:0px;
	width:85%;
	border-color:#616161;
	margin-top:0;
}

form {
	margin-bottom:35px;
}

input {
	border:0;
	background-color:#5C5C5C;
	box-shadow:inset 0px 0px 3px 1px #363636;
	color:white;
}

.infoText {
	color:white;
}

#sideBar .tradeBox {
	display:block;
	position:relative;
	height:95px;
	width:100%;
	background-color:#4D4D4D;
	font-size:.8em;
	color:white;
	border-radius:5px;
	margin-top:5px;
	padding:5px;
}

.tradeBox .userBook {
	font-size:1.1em;
	color:#57C94B;
	font-weight:600;
}

.tradeBox .targetBook {
	font-size:1.1em;
	color:gold;
	font-weight:600;
}

.tradeBox .btnRow {
	position:absolute;
	bottom:0px;
	width:100px;
	margin-left:50%;
	transform:translate(-50%,0);
}

.tradeBox .tradeOption {
	display:inline-block;
	margin-right:10px;
	font-size:.9em;
	cursor:pointer;
}

.tradeBox .acceptOpt {
	color:green;
}

.tradeBox .declineOpt {
	color:#ED7272;
}

.tradeBox .cancelOpt {
	position:absolute;
	width:30px;
	bottom:0px;
	color:#ED7272;
	left:50%;
	transform:translate(-50%,0);
}

.tradeBox .tradeOption:hover {
	text-decoration:underline;
}

#mainView {
	position:absolute;
	right:0;
	height:100%;
	width:85%;
	padding:20px;
	font-family:Lato;
	color:#595255;
}

#mainView hr {
	width:100%;
	margin-top:35px;
}

#mainView h5 {
	font-size:.9em;
	
}

#noBooks {
	text-align:center;
	margin-top:50px;
	font-family:arial;
	color:#C9C9C9;
}

.bookBox {
	position:relative;
	display:inline-block;
	margin:5px;
}

.ownedBook {
	border:2.5px solid green;
}

.tradeBtn {
	position:absolute;
	height:20px;
	width:35px;
	top:0;
	right:0;
	border-radius:5px;
	background-color:rgba(22,179,22,.7);
	text-align:center;
	color:white;
	font-size:1.5em;
	line-height:20px;
	cursor:pointer;
}

.tradePopup {
	position:absolute;
	height:300px;
	width:500px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	box-shadow:0px 0px 5px 1px black;
	z-index:99;
}

.tradePopup #topBar {
	height:30px;
	width:100%;
	background-color:#424242;
	text-align:center;
	color:white;
	font-family:Abel;
	line-height:25px;
	font-weight:700;
}

.tradePopup #leftBar {
	position:absolute;
	height:90%;
	width:30%;
	border-right:1px solid #DEDEDE;
	
}

.tradePopup #leftBar img {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	box-shadow:0px 0px 3px 1px grey;
	
}

.tradePopup #rightBar {
	position:absolute;
	height:90%;
	width:70%;
	right:0;
	background-color:rgba(212,212,212,.9);
}

.tradePopup #rightBar p {
	text-align:center;
	color:black;
	margin-top:35px;
	font-family:Abel;
	font-size:1.2em;
}

.tradePopup #rightBar select {
	display:block;
	margin:auto;
}

.tradePopup #rightBar #btnRow {
	position:relative;
	margin-top:100px;
	width:160px;
	margin-left:50%;
	transform:translate(-50%,0);
}

.tradePopup #rightBar .confirmBtn {
	position:absolute;
	display:inline-block;
	height:35px;
	width:75px;
	text-align:center;
	
}

.tradePopup #rightBar .cancelBtn {
	position:absolute;
	display:inline-block;
	height:35px;
	width:75px;
	right:0;
	text-align:center;
	
}






























