body {
	background-color:#E6E6E6;
}

.usernameBox {
	width:100%;
	height:55px;
	background-color:white;
	margin-bottom:15px;
	margin-top:10px;
	border-radius:10px;
	text-align:center;
	box-shadow:0 0 3px 1px #BDBDBD;

}

.usernameBox h3 {
	position:relative;
	display:inline-block;
	margin-top:15px;
	font-family:Cabin Sketch;
	color:black;
}

.profileBox {
	height:800px;
	width:100%;
	background-color:white;
	border-radius:10px;
	box-shadow:0 0 3px 2px #BDBDBD;
	
}

#topBar {
	position:relative;
	background-color:#C7C7C7;
	width:100%;
	height:65px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	color:white;
	padding:10px;
	margin-bottom:10px;
}

#topBar h3 {
	position:absolute;
	bottom:0;
	
}

#infoBody {
	position:relative;
	height:800px;
	padding:10px;
	font-family:Arial;
	font-size:1.7em;
}

#infoBody #returnLink {
	position:absolute;
	left:50%;
	bottom:35px;
	transform:translate(-50%,0);
	font-size:.8em;
}

#infoBody #logoutLink {
	position:absolute;
	left:50%;
	bottom:5px;
	transform:translate(-50%,0);
	font-size:.8em;
}

.editBtn {
	position:absolute;
	display:inline-block;
	right:10px;
	bottom:10px;
	color:#5FA1E3;
	cursor:pointer;
	font-size:1.2em;
}

#infoBody h4 {
	color:#8A8A8A;

}


#infoForm {
	padding:10px;
}

#infoForm input {
	border:none;
	border-bottom:1px solid #DEDEDE;
	box-shadow:none;
}

#activityLog {
	font-size:.5em;
	text-align:center;
	font-family:Lato;
}

#activityLog h5 {
	position:relative;
	top:10px;
	font-weight:600;
	letter-spacing:.7px;
	font-size:.8em;
}

.activityBox {
	width:80%;
	height:250px;
	margin:auto;
	background-color:#4D5052;
	border-radius:10px;
	overflow:auto;
	font-family:Play;
	font-weight:0;
	font-size:1.1em;
	padding:5px;
	color:white;
}

















